body {
  background-image: url("./img/colorful-food.jpg");
  background-size: 100%;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.nav-bar {
  background-color: #F1DABF; /* might want to change color  */
  margin-bottom: 5%;
  margin-top: -1%; 
  padding: 1%;
  /* definitley want to put header and button side by side */
}

.login-header {
  font-family: 'Raleway', sans-serif; /* Hmmm...not sure why this isn't changing */
}
