.image {
	background-image: url('C:\Users\Tyler\Documents\git\SecretFamilyRecipesFE\secret-family-recipes\src\img\colorful-food.jpg');
	background-size: 100vh;
	resize: both;
	overflow: scroll;
	opacity: 0.8;
	margin-top: 50px;
}