.main-image {
    background-image: url('C:\Users\Tyler\Documents\git\SecretFamilyRecipesFE\secret-family-recipes\src\img\mom-and-daughter.jpg');
    background-size : cover;
    resize          : both;
    overflow        : scroll;
    margin          : 30px 0;

}