.imageSignup {
    background-image: url('.././img/ingredients.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    /* resize          : both; */
    overflow        : scroll;
    opacity         : 0.8;
    margin-top      : 50px;
}